
TP-final-CSharp.csproj
obj/TP-final-CSharp.csproj.nuget.g.targets
obj/TP-final-CSharp.csproj.nuget.g.props
obj/TP-final-CSharp.csproj.nuget.dgspec.json
obj/project.nuget.cache
obj/project.assets.json
